# Primera pr√°ctica con Pandas
## Creando un Dataframe

In [28]:
import pandas as pd
import numpy as np

In [32]:
data= np.array([[153,278], [354,495], [523,677]])
df= pd.DataFrame(data, index=['Marzo','Abril','Mayo'],
                 columns=['Compras','Ventas'])
df

       Compras  Ventas
Marzo      153     278
Abril      354     495
Mayo       523     677